<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
      
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="627806535351-ni9eesbgs1r4op89g15gejncmku7ce87.apps.googleusercontent.com">



        <title>Alef-Ya</title>
  


        {% block style %}
        {% endblock %}
    </head>
    <body id="uniqueid">rtldir="rtl"
        {% block content %}
        {% endblock %}      

        {% block js %}
        {% endblock %}
    
    </body>
</html>

